nav.navigation
  .navigation__wrapper
    a.navigation__link(href='/')
      | Cercas Humaya

      svg.navigation__link__icon

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href='#about') Historia

      li.navigation__list__item
        a.navigation__list__link(href='#services') Servicios

      li.navigation__list__item
        a.navigation__list__link(href='#contact') Contacto
