.navigation {
  @extend %cover;

  width: 70.2rem;
  height: 7.7rem;
  z-index: z('navigation');
  position: fixed;
  padding: 0rem 5rem;
}

.navigation__wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__link {

}

.navigation__link__icon {
  width: 3rem;
  height: 2.4693rem;
}

.navigation__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3.5rem;
}

.navigation__list__item {
  @extend %paragraph-small;

}

.navigation__list__link {
  text-decoration: none;
  color: $color-gray;
}

.navigation__list__link:hover {
  color: $color-punch;
}

