%paragraph-bold {
  font-family: $font-inter;
  font-size: 1.6rem;
  font-weight: 600;
}

%paragraph {
  font-family: $font-inter;
  font-size: 1.6rem;
  font-weight: normal;
}

%paragraph-small {
  font-family: $font-inter;
  font-size: 1.4rem;
  font-weight: normal;
}

