%title-200 {
  font-family: $font-inter;
  font-size: 20rem;
  font-weight: normal;
}

%title-80 {
  font-family: $font-inter;
  font-size: 8rem;
  font-weight: 600;

  @include media('<phone') {
    font-size: 6.4rem;
  }
}

%title-64 {
  font-family: $font-inter;
  font-size: 6.4rem;
  font-weight: 600;
}

%title-32 {
  font-family: $font-inter;
  font-size: 3.2rem;
  font-weight: 600;
}

%title-32-reg {
  font-family: $font-inter;
  font-size: 3.2rem;
  font-weight: normal;
}

%sub-title-24 {
  font-family: $font-inter;
  font-size: 2.4rem;
  font-weight: 600;
}

%sub-title-24-reg {
  font-family: $font-inter;
  font-size: 2.4rem;
  font-weight: normal;
}
