$color-dark: #000;
$color-white: #fff;
$color-gray: #808080;
$color-silver: #BFBFBF;
$color-punch: #D92B26;

$font-inter: 'Inter';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: (
  'cursor',
  'preloader',
  'quoter-end',
  'quoter',
  'navigation',
  'content'
)
