*, *:after, *:before  {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: calc(100vw / 1280 * 10);
}

body {
  @extend %paragraph;

  color: $color-dark;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  vertical-align: middle;
}


