*, *:after, *:before  {
  box-sizing: border-box;
  user-select: none;
}

html {
  @extend %cover;

  font-size: calc(100vw / 1280 * 10);
  position: fixed;
  overflow: hidden;

  @include media('<phone') {
    font-size: calc(100vw / 490 * 10);
  }
}

body {
  @extend %cover;
  @extend %paragraph;

  color: $color-dark;
  position: fixed;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

img {
  opacity: 0;
  transition: opacity 1s ease;
  vertical-align: middle;

  &.loaded {
      opacity: 1;
  }
}

.content {
  @extend %cover;
}

[data-animation="paragraph"],
[data-animation="title"] {
  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }
}

.button__primary {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button__primary:hover {
  background-color: $color-punch;
  color: $color-white;
}
