.homepage__history {
  width: 100%;
  height: 127.3rem;
  position: relative;

  @include media('<phone') {
    height: 113.6rem;
  }
}

.homepage__history__wrapper {
  width: 100%;
  height: 100%;

  @include media('<phone') {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.homepage__history__story {
  position: absolute;
  right: 15.9rem;
  bottom: 43.9rem;
  width: 36rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  @include media('<phone') {
    position: static;
  }
}

.homepage__history__title {
  @extend %sub-title-24;

  line-height: 2.76rem;
  align-self: stretch;
}

.homepage__history__copy {
  @extend %paragraph;

  line-height: 2.4rem;
  align-self: stretch;
}

.homepage__history__gallery {

}

.homepage__history__gallery__media {
  position: absolute;

  &:nth-child(1) {
    top: 20.5rem;
    right: 26.7rem;
    width: 31.1rem;
    height: 23.2rem;
  }

  &:nth-child(2) {
    top: 15rem;
    left: 15.9rem;
    width: 31.1rem;
    height: 31.1rem;
  }

  &:nth-child(3) {
    left: 0;
    bottom: 23.8rem;
    width: 14.6rem;
    height: 23.5rem;
  }

  &:nth-child(4) {
    right: 0rem;
    bottom: 15.1rem;
    width: 47rem;
    height: 17.5rem;
  }

  &:nth-child(5) {
    right: 59.3rem;
    bottom: 28.4rem;
    width: 31.1rem;
    height: 37.7rem;
  }

  @include media('<phone') {
    &:nth-child(1) {
      top: 19.36rem;
      right: 1.5rem;
      width: 17.2rem;
      height: 20.9rem;
    }

    &:nth-child(2) {
      top: 13.16rem;
      left: 1.5rem;
      width: 17.3rem;
      height: 21.2rem;
    }

    &:nth-child(3) {
      left: 1.5rem;
      bottom: 16.3rem;
      width: 17.3rem;
      height: 20.9rem;
    }

    &:nth-child(4) {
      display: none;
    }

    &:nth-child(5) {
      right: 1.5rem;
      bottom: 6.2rem;
      width: 17.2rem;
      height: 25.6rem;
    }
  }
}

.homepage__history__gallery__media__image {
  @extend %cover;

  object-fit: cover;
}

