.homepage__services {
  width: 100%;
  padding: 15rem 5rem;

  @include media('<phone') {
    padding: 15rem 1.5rem;
  }
}

.homepage__services__wrapper {
  display: flex;
  gap: 5rem;
  flex-direction: column;

  @include media('<phone') {
    gap: 3rem;
  }
}

.homepage__services__subtitle {
  @extend %title-32-reg;

  color: $color-punch;
}

.homepage__services__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.homepage__services__service {
  @extend %title-64;

  padding: 1.5rem 0rem;
  width: 100%;

  @include media('<phone') {
    padding: 1rem 0rem;
  }
}
